<h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-9">Create an account</h1>
<div id="api"><input type="password" id="email" name="Email address"
    pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Email Address"
    tabindex="1" value=""></div>