<!DOCTYPE html>
<html>
<head>
    <title>Interaction complete</title>
</head>
<body>
    <h1>Interaction complete</h1>
    <p>Received the following data from interaction</p>
    <% Object.keys(data).forEach((key) => { %>
    <div><%=key%> = <%=data[key]%></div>
    <% }); %>

    <a href="/">Return to launchpad</a>
</body>
</html>