    <div class="row row-intro">
        <div class="col-6">
            <p>
                UUID is <%= uuid %>
            </p>
        </div>
        <div class="col-6">
            <p><a href="/dev/styleguide">Front-end styles and examples</a></p>
        </div>
    </div>
    <div class="cards">
        <a class="card" href="/<%= uuid %>/usernamepassword">
            <h2>Start username/password</h2>
            <p>Start the default username and password login journey</p>
        </a>
        <a class="card" href="/dev/complete">
            <h2>Interaction Complete</h2>
            <p>Show the Interaction Complete page</p>
        </a>
    </div>
