<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">

            <p class="lede">
                Redirecting you...
            </p>
        </div>
    </div>

    <form id="main" method="post" action="<%= destination %>">
        <% Object.keys(postbackData).forEach(function(key){ %>
        <input type="hidden" name="<%= key %>" value="<%= postbackData[key] %>"/>
        <% }); %>
        <button class="button" type="submit">Continue</button>

    </form>
    <script>
        <% if (locals.noredirect != 'true') { %>
        document.getElementById('main').submit();
        <% } %>
    </script>
</main>