
$govuk-images-path: "/b2c/images/";
$govuk-fonts-path: "/b2c/assets/static/media/";

@import '../node_modules/govuk-frontend/govuk/all';



//LISTS

ul {
    list-style-type: none;
    padding: 0;
}
  
//FORMS

label {
    @extend .govuk-label;
}

.attrEntry, .entry-item {
    @extend .govuk-form-group;
}

.entry-item input {
    @extend .govuk-input;

    //one third of the width for large screens
    @media (min-width: 40.0625em) {
        width: 50% !important;
    }

    &.highlightError {
        @extend .govuk-input--error;
    }
}

.textInput {
    @extend .govuk-input;

    //one third of the width for large screens
    @media (min-width: 40.0625em) {
        width: 33.33% !important;
    }

    &.highlightError {
        @extend .govuk-input--error;
    }
}


//CHECKBOXES

// .CheckboxMultiSelect.attrEntry {
//     @extend .govuk-checkboxes--small;
// }

.CheckboxMultiSelect .attrEntry{
    //@extend .govuk-checkboxes--small, .govuk-checkboxes__item;

    display: inline-block;
    float: none;
    clear: left;
    position: relative;
    background: #dee0e2;
    border: 1px solid #dee0e2;
    padding: 18px 30px 15px 54px;
    margin-bottom: 10px;
    cursor: pointer;

    label {
        cursor: pointer;
    }

    &:hover {
        border-color: #0b0c0c;
    }

    input {
        //@extend .govuk-checkboxes__item;
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
        margin: 0;
        width: 29px;
        height: 29px;
    }
}


//TEXT

.textInParagraph {
    @extend .govuk-body;
}


//LINKS

a {
    @extend .govuk-link;
}

.forgot-password {
    @extend .govuk-body;
    margin-top: govuk-spacing(6);
}


//BUTTONS

button {
    @extend .govuk-button;
}

#continue {
    @extend button;
}

#cancel {
    display: none;
}


//ERRORS

.error.itemLevel {
    @extend .govuk-error-message;

    p {
        margin: 0;
    }
}

.error.pageLevel, .govuk-error-summary__body {
    p {
        @extend .govuk-error-message;
    }
}


//OTHER STUFF

.helpLink {
    display: none;
}

.intro {
    display: none;    
}


//Hide placeholders
::-webkit-input-placeholder {
/* WebKit browsers */
    opacity: 0;
}
:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
    opacity: 0;
}
::-moz-placeholder {
/* Mozilla Firefox 19+ */
    opacity: 0;
}
:-ms-input-placeholder {
/* Internet Explorer 10+ */
    opacity: 0;
}
input::placeholder {
    opacity: 0;
}
textarea::-webkit-input-placeholder {
/* WebKit browsers */
    opacity: 0;
}
textarea:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
    opacity: 0;
}
textarea::-moz-placeholder {
/* Mozilla Firefox 19+ */
    opacity: 0;
}
textarea:-ms-input-placeholder {
/* Internet Explorer 10+ */
    opacity: 0;
}
textarea::placeholder {
    opacity: 0;
}