<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Additional security code needed
        </h1>
        <p class="lede">Enter the 8 digit code from your fob</p>
    </div>
</div>
<div class="grid-row">
    <div class="col-12">
        <form method="post" id="form-reset-your-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Additional security code needed</legend>
                <div class="form-group <%= locals.validationMessages.code !== undefined ? "form-group-error" : "" %>">

                    <label class="form-label" for="code">Code</label>

                    <% if (locals.validationMessages.code !== undefined) { %>
                        <p class="error-message" id="validation-code"><%= locals.validationMessages.code %></p>
                    <% } %>

                    <input class="form-control char-width-8" id="code" name="code" type="text"
                           pattern="[0-9]{8}" required aria-required="true" maxlength="8"
                            <% if (locals.validationMessages.code !== undefined) { %> aria-invalid="true" aria-describedby="validation-code" <% } %>>

                </div>
                <div class="form-submit">
                    <button type="submit" class="button">Continue</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

