<!DOCTYPE html>
<html>
<head>
    <title>Development Launchpad</title>
</head>
<body>
    <p>UUID is <%=uuid%></p>

    <a href="/<%=uuid%>/usernamepassword">Start username/password</a>
</body>
</html>