<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Check your phone
        </h1>
        <p class="lede">We’ve sent you a text message with a security code.</p>
    </div>
</div>
<div class="grid-row">



    <div class="col-6">
        <form method="post" id="form-reset-your-password">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                <div class="form-group <%= locals.validationMessages.code !== undefined ? "form-group-error" : "" %>">

                    <label class="form-label" for="code">Text message code</label>

                    <% if (locals.validationMessages.code !== undefined) { %>
                        <p class="error-message" id="validation-code"><%= locals.validationMessages.code %></p>
                    <% } %>

                    <input class="form-control char-width-8" id="code" name="code" type="text"
                           pattern="[0-9]{6}" required aria-required="true" maxlength="6" autocomplete="off"
                            <% if (locals.validationMessages.code !== undefined) { %> aria-invalid="true" aria-describedby="validation-code" <% } %>>

                </div>
                <div class="form-submit">
                    <button type="submit" class="button">Continue</button>
                </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <%- include('../../includes/helpdesk'); %>
    </div>
</div>