<!DOCTYPE html>
<html>
<head>
    <title>Enter username and password</title>
</head>
<body>
    <form method="post">
        <label>
            <span>Username</span>
            <input type="text" name="username" autofocus="autofocus" autocomplete="false" />
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="password" autocomplete="false" />
        </label>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>