<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Thank you
        </h1>
        <p class="lede">We've emailed a link so that you can reset your password.</p>
        <p>If you haven't received the email within a few minutes, please check your spam, bulk or junk email folder – your email system may have blocked it by mistake.</p>
        <p>If it doesn't arrive at all, please check that you've given us the correct email address for your existing account – we'll only send a password reset link to the email address belonging to an account.</p>
        <!--<a class="button" href='/<%=locals.uuid%>/resetpassword/confirm?clientid=<%=locals.clientid%>'>Continue</a>-->
        <a href="#" class="button">Resend password reset code</a>
    </div>
</div>