<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Thank you
        </h1>
        <p class="lede">We've emailed a link to so that you can reset your password.</p>
        <p>If you haven't received the email within a few minutes, please check your spam, bulk or junk email folder – your email system may have blocked it by mistake.</p>
        a<p>If it doesn't arrive at all, please check that you've given us the correct email address for your existing account – we'll only send a password reset link to the email address belonging to an account.</p>
    </div>
</div>