<div class="grid-row">
    <div class="col-8">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Password has been reset
            </h1>
        </div>
        <p>Your password has been reset and can now be used to access your DfE Sign-in account.</p>
        <a class="button" href="<%=locals.redirectUri%>">Sign in</a>
    </div>
</div>