<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Reset your password
        </h1>
        <p class="lede">You have successfully set up a new password.</p>
    </div>
</div>