<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Reset your password
        </h1>
        <p class="lede">You have successfully set up a new password.</p>

        <a href="#">Sign in</a>
    </div>
</div>