<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Reset your password
        </h1>
    </div>
</div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <fieldset class="highlight">
            <legend class="vh">Reset password form</legend>
            <div class="form-group">
                <label class="form-label-bold" for="newPassword">Create new password</label>
                <input class="form-control" id="newPassword" name="newPassword" type="password" value="<%=newPassword%>">
            </div>
            <div class="form-group">
                <label class="form-label-bold" for="confirmPassword">Confirm your new password</label>
                <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" value="<%=confirmPassword%>">
            </div>

            <div class="form-submit">
                <button type="submit" class="button">Reset password</button>
            </div>
        </fieldset>
    </form>
</div>