<details class="helpdesk">
    <summary><span class="summary">Having problems?</span></summary>
    <div class="panel panel-border-narrow">
        <p>If you are having problems using DfE Sign In contact the helpdesk at: <a href="mailto:helpdesk@dfesignin.education.gov.uk">helpdesk@dfesignin.education.gov.uk</a> for assistance.</p>
    </div>
</details>