<details class="helpdesk">
    <summary><span class="summary">Having problems?</span></summary>
    <div class="panel panel-border-narrow">
        <p>If you are having problems using the DfE Sign-in service, follow the link to read the <a href="<%=locals.urls.help%>/contact">frequently asked questions</a>. You will also be able to request further assistance if you need it.</p>
    </div>
</details>