<details class="helpdesk">
    <summary><span class="summary">Having problems?</span></summary>
    <div class="panel panel-border-narrow">
        <p>If you are having problems using the DfE Sign-in service, follow the link to <a href="<%=locals.urls.help%>/contact">submit a support request</a>.</p>
    </div>
</details>