<details class="helpdesk">
    <summary><span class="summary">Having problems?</span></summary>
    <div class="panel panel-border-narrow">
        <p>If you are having problems using the DfE Sign-in service, follow <a href="<%=locals.urls.help%>/contact">DfE Sign-in Help</a>. You will be able to request further assistance if required.</p>
    </div>
</details>
