<div class="grid-row">
    <div class="col-8">

        <h1 class="heading-xlarge">Sign in with your new details</h1>

        <p class="lede">You have already created a DfE Sign-in Account</p>

        <p>Please sign-in with the email address and password you gave when creating your new DfE Sign-in account.
            If you have forgotten your password, use the link provided on the sign-in screen.</p>

        <p><a href="<%=locals.user.redirectUri%>" class="button">Back to sign-in screen</a></p>

    </div>
</div>