<div class="grid-row">
    <div class="col-8">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Migration Complete
            </h1>
        </div>
        <p>Your account has been migrated, click below to sign in.</p>
        <a class="button" href="<%=locals.redirectUri%>">Sign in</a>
    </div>
</div>