<div class="grid-row" data-event="Completed" data-category="Migration" data-label="<%=locals.clientId%>" id="ga-event">
    <div class="col-12">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Your DfE Sign-in account is set up
            </h1>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="col-8">
        <p>You can sign in using your email address and your new password.</p>
        <p><a class="button" href="<%=locals.redirectUri%>">Sign in</a></p>
    </div>
</div>