<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Your email address
        </h1>
        <p class="lede">To access your services through DfE Sign-in your email address will become your username.</p>
        <p>If your email address is not private or you don't have access to it you will need to change it. </p>
        <form>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="form-group">
                <fieldset>

                    <legend>
                        <h1 class="heading-medium">
                            Which email address do you want to use?
                        </h1>
                    </legend>

                    <div class="multiple-choice">
                        <input id="example-contact-by-email" type="radio" name="radio-email-group" value="Yes" checked>
                        <label for="example-contact-by-email"><%=locals.user.email%></label>
                    </div>

                    <div class="multiple-choice" data-target="contact-by-text">
                        <input id="example-contact-by-text" type="radio" name="radio-email-group" value="No">
                        <label for="example-contact-by-text">Use a different email address</label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
                        <label class="form-label" for="new-email">New email address</label>
                        <p class="form-hint">We will send you an email to confirm your new address </p>
                        <input class="form-control" name="new-email" type="text" id="new-email">
                    </div>

                </fieldset>
            </div>
            <div class="form-submit">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>

    </div>
</div>