<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Account already exists
        </h1>
        <p class="lede">A DfE Sign-in account already exists with the email address <b><%=locals.user.newEmail%></b>.</p>
        <p>You can sign-in to that account to continue, or go back and change the email address you wish to use.</p>
        <p><a href="<%=locals.user.redirectUri%>" class="button">Sign-in</a> </p>
    </div>
</div>