<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Account already exists
        </h1>
        <p class="lede">A DfE Sign-in account already exists with the email address <b><%=locals.user.newEmail%></b>.</p>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <input type="hidden" name="viewToDisplay" value="<%=locals.viewToDisplay%>" />
            <div class="form-group">
                <fieldset>

                    <legend>
                        <p>You have a couple of options:</p>
                    </legend>

                    <div class="multiple-choice">
                        <input id="current-email" type="radio" name="radioEmailGroup" value="Yes" <% if (!locals.validationMessages.email !== undefined) { %>checked<%}%>>
                        <label for="current-email">Merge your Secure Access account into your <b><%=locals.user.newEmail%></b> DfE Sign-in account</label>
                    </div>

                    <div class="multiple-choice" data-target="new-email-address">
                        <input id="new-email" type="radio" name="radioEmailGroup" value="No" <% if (locals.validationMessages.email !== undefined) { %>checked<%}%>>
                        <label for="new-email">Use a different email address for your DfE Sign-in account</label>
                    </div>

                </fieldset>
            </div>
            <div class="form-submit">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>
    </div>
</div>