<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            The way you access <%=locals.serviceName%> is changing
        </h1>
        <p class="lede">We need to create a new DfE Sign-in account for you based on your on Secure Access details.</p>
        <p>We will ask you for an up to date email address and to create a new password.</p>
        <p><a href="/<%=locals.uuid%>/migration/userDetails">Continue</a> </p>
    </div>
</div>