<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            DfE Sign-in
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p>DfE Sign-in is the new way to sign-in to access some specific education sector services.</p>
        <p>Your account will now be migrated</p>
    </div>
</div>