<div class="grid-row">
    <div class="col-8">

        <h1 class="heading-xlarge">You do not have access to this service</h1>

        <p class="lede">You have entered Secure Access details that do not have permission to access <strong><%=locals.user.clientName%>.</strong></p>

        <p><a href="<%=locals.user.redirectUri%>" class="button">Start again</a></p>

    </div>
</div>