<span class="js-back-link"></span>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Frequently asked questions</h1>

        <dl class="simple">
            <dt>How do I create new users?</dt>
            <dd>New users can only be created in Secure Access (until Secure Access is switched off). Any accounts you create will appear in DfE Sign-in 24 hours later.</dd>

            <dt>How do I give a user access to Teacher Services?</dt>
            <dd>Amending the services a user has access to (including services moved to DfE Sign-in) can only be done within Secure Access, as done presently. You will need to wait for 24 hours before you can see this change in DfE Sign-in.</dd>

            <dt>How do I reset my password?</dt>
            <dd>On the DfE Sign-in homepage, select ‘I’ve forgotten my password’ and enter your email address. An email will be sent which will allow you to reset your password. To reset your Secure Access password please follow the link through <a href="https://sa.education.gov.uk/idp/Authn/UserPassword" target="_blank">https://sa.education.gov.uk/idp/Authn/UserPassword</a></dd>

            <dt>How do I know whether my services are on DfE Sign-in or Secure Access?</dt>
            <dd>To avoid confusion, both DfE Sign-In & Secure Access contain the same list of services to which you have access. Login to either and select the service you require. You will either be allowed access to the service you wanted, or redirected to login via the other solution. Over the next few months everything will migrate to DfE Sign-In and this issue will cease.</dd>
        </dt>

    </div>
</div>