<span class="js-back-link"></span>
<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Terms and Conditions</h1>

        <p>Welcome to DfE Sign-in, the Department for Education's secure single sign-in system for access to DfE online services.</p>

        <p>By using this service, you agree to the following terms and conditions.</p>

        <h2 class="heading-medium">Our responsibilities</h2>

        <p>This service is run by the Department for Education (DfE). We comply with the UK Data Protection Act 1998 and endeavour to ensure that the service is continuously available. However, the DfE accepts no liability for:</p>

        <ul class="list list-bullet">
            <li>you being unable to access the service (for example owing to excessive demand or because we've taken the service down for maintenance)</li>
            <li>loss of any data</li>
            <li>delay or failure in receiving data</li>
            <li>loss or damage arising from the use of the service or reliance on its content</li>
            <li>the content and availability of external websites that link to the service or which are linked from it</li>
        </ul>

        <p>We may remove, or amend a user's rights to use this service if you are found to be in breach of these terms. Our decision in the event of a breach shall be final.</p>

        <p>We will use your information to establish your identity and permissions when using a DfE service.</p>

        <p>Your responsibilities:</p>

        <ul class="list list-bullet">
            <li>You are responsible for all activities associated with your username and password and accept responsibility for all activities associated with your account.</li>
            <li>You agree to indemnify the DfE against any losses, expenses, damages or claims we may incur as a result of any failure by you to comply with the obligations set out in these terms.</li>
            <li>You agree to comply with any amendments to these Terms and Conditions</li>
            <li>You agree to comply to the Terms and Conditions of each service you are approved to use.</li>
        </ul>

        <p>As a user or approver, you must:</p>

        <ul class="list list-bullet">
            <li>create a valid DfE Sign-in account and keep your sign-in details confidential and secure</li>
            <li>comply with the Data Protection Act 1998 and ensure that any personal data (as defined by the Data Protection Act 1998) is protected, used only for the purposes for which it was obtained and disposed of accordingly</li>
            <li>comply with the UK Computer Misuse Act 1990</li>
            <li>contact us if you're aware of any security breach</li>
            <li>not use DfE Sign-in for any unlawful purpose</li>
            <li>sign in from only one PC at a time</li>
            <li>sign out of DfE sign-in using the sign-out function when you have finished your session.</li>
        </ul>

        <p>As an approver, you must also:</p>

        <ul class="list list-bullet">
            <li>remove access rights from staff who no longer need access</li>
            <li>verify that all requests for approval are appropriate to that person's professional role</li>
            <li>regularly review access rights of staff to ensure that only those who need access to systems maintain their privileges</li>
        </ul>

    </div>
</div>